// 常見問題
.faq-title{
    margin-top: 96px;

    &::before{
        display: inline-block;
        content: "";
        vertical-align: middle;
        background-color: #9F1213;
        width: 8px;
        height: 48px;
        margin-right: 16px;
    }
}
// 常見問題END

// RWD平板
@media (max-width: 992px){
    
    // 常見問題
    .faq-container{
        width: 100%;
        padding: 0 36px;
        margin-bottom: 80px;
    }

    .faq-title{
        margin-top: 80px;

    }
        // 常見問題END

}
// RWD平板END

// RWD手機
@media (max-width: 767px){

    // 常見問題
    .faq{
        margin-bottom: 64px;

        &-item{
            margin-right: 0;
            margin-bottom: 24px;
        }

        &-container{
            width: 100%;
            padding: 0 14px 0 13px;
        }

        &-title{
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 24px;
    
            &::before{
                height: 36px;
            }
        }
    }
    // 常見問題END
}
// RWD手機END