.container{
    width: 67.5%;
    margin: 0 auto;
    padding: 0 12px;
}

// 導覽列

// 底部
.nav-bg{
    background-color: #AA0601;
    padding: 16px 0;
}

// 容器
.nav-container{
    display: flex;
    justify-content: space-between;
}

// 標誌
.logo a{
    display:block;
    width:80px;
    height: 48.5px;
    background:url(../images/logo-white.png);
    background-size: cover;
    background-position: center center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

// 選單
.menu{
    display: flex;
    justify-content: start;
    align-items: center;

    a:hover{
        text-decoration: underline;
    }
}
// 導覽列END

// 部落格導覽
.blog-nav-bg{
    background-color: #650300;
}
.blog-nav-container{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-nav{
    display: flex;
    align-items: center;
}

.blog-nav a:hover{
    text-decoration: underline;
}
.blog-search-bar{
    display: none;
}

.blog-search-btn{
    background-color: #650300;
    border: none;
    vertical-align:middle;  
}
// 部落格導覽END

// 頁籤
.pageNav{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    a:hover{
        background-color: #AA0601;
        color: #fff;
    }
}

// 前後頁
.pageTurning{
    display: block;
    border: 1px solid #555555;
    padding: 12px 12px;
    color: #555555;
}

// 頁數
.pageDirect{
    display: block;
    border: 1px solid #555555;
    padding: 12px 16px;
    color: #555555;
}

// 現在位置
.pageDirect-focus{
    background-color: #000;
    color: #fff;
}

// 頁籤END

// footer
// 底色
.footer-bg{
    background-color: #AA0601;
    padding: 48px 0 32px 0;
}

// 容器
.footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

// 目錄
.subMenu{
    display: flex;
}

// 社群icon
.social{

    img{
    width: 48px;
    }

    a:hover{
    filter:brightness(80%);
    }
}

// 版權
.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid #fff;
}
.footer-container a:hover{
    text-decoration: underline;
}
// footer END


// RWD平板
@media (max-width: 992px){

    // 容器
    .container{
        width: 100%;
        padding: 0 36px;
    }

    // 部落格導覽
    .blog-nav-container{
        width: 100%;
        padding: 0 42px 0 36px;
    }
    // 部落格導覽END

    // footer
    .footer-container{
        width: 100%;
        padding: 0 36px;
        }
    // footer END
}
// RWD平板END

// RWD手機
@media (max-width: 767px){

    // 容器
    .container{
        width: 100%;
        padding: 0 16px;
    }

    // 導覽列
    .nav-bg{
        padding: 0;
    }
    .nav-container{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;

    }
    .logo{
        margin: 0 auto;
        padding: 16px 0;
    }
    .menu{
        width: 100%;
        flex-wrap: wrap;  
        li{
            width: 50%;
            padding: 12px 62px;
            border: 1px solid #fff;
        }

        a{
            margin: 0 auto;
            font-size: 14px;
        }
    }
    // 導覽列END

    // 部落格導覽
    .blog-nav-bg{
        display: none;
    }
    // 部落格導覽END

    // 頁籤
    .pageNav{
        width: 100%;
        padding: 0 13px;
        font-size: 14px;
        margin-bottom: 64px;
    }
    .pageTurning{
        padding: 11px 13px 12px 14px;
    }
    .pageDirect{
        padding: 12px 15px 12px 16px;
    }
    // 頁籤END
        
    // footer
    .footer-bg{
        padding: 0;
    }

    .footer-container{
        width: 100%;
        margin: 0 auto;
        padding: 24px 16px 24px 16px;
    }

    .contact-item a{
        font-size: 16px;
    }

    .subMenu{
        display: none;
    }

    .social{ 
        a{
            margin-right: 8px;
        }

        img{
            width: 24px;
        }
    }

    .copyright{
        flex-direction: column;
        padding-top: 24px;
    }

    .term{
        display: flex;
        flex-direction: column;
        
        a{
            margin-bottom: 8px;
        }
    }

    .copyright-content{
        margin-bottom: 16px;
    } 
    /* footerEND*/
}
// RWD手機END
