// 門市據點 
.location-title{
    margin-top: 96px;
}
.location-title::before{
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-color: #9F1213;
    width: 8px;
    height: 48px;
    margin-right: 16px;
}
.locations-select{
    display: flex;
    align-items: center;
    margin-bottom: 41px;

}
.locations-dropDown{
    width: 23.4%;
    font-size: 18px;
    line-height: 1.44;
    color: #495057;
    opacity: 75%;
    border: 1px solid #CED4DA;
    border-radius: 0%;
    padding: 6px 12px;
}

.locations{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.locations-item{
    width: calc((100% - 48px) / 3);
    margin-bottom: 48px;
}
.locations-item-title{
    padding: 8px 24px;
    border: 1px solid #00000020;
}
.locations-item-content{
    padding: 16px 24px;
    border: 1px solid #00000020;
}
.material-symbols-outlined{
    margin-right: 11px;
}
.locations-btn{
    display: block;
    font-size: 19px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: 1px solid #00000020;
    padding: 16px 0;
}
.locations-btn:hover{
    background-color: #AA0601;
}
// 門市據點END 


// RWD平板
@media (max-width: 992px){
    
    // 門市據點 
    .location-container{
        width: 100%;
        padding: 0 36px 0 35px;
        margin-bottom: 80px;
    }
    .locations-dropDown{
        width: 30.6%;
    }
    .locations{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .locations-item{
        width: calc((100% - 24px) / 2);
        margin-right: 0;
    }
    .tb-mr-24{
        margin-right: 24px;
    }
    // 門市據點END 
}
// RWD平板END

// RWD手機
@media (max-width: 767px){

    // 門市據點
    .location-container{
        width: 100%;
        padding: 0 14px 0 13px;
    }
    .location-title{
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .location-title::before{
        height: 36px;
    }
    .locations-select h3{
        font-size: 16px;
    }
    .locations-dropDown{
        width: 73.6%;
    }
    .locations{
        margin-bottom: 64px;
    }
    .locations-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    // 門市據點END
}
// RWD手機END
