@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Roboto,'Noto Sans TC', sans-serif;
  line-height: 1.5; }

img {
  vertical-align: middle;
  width: 100%;
  height: auto; }

.db {
  display: block; }

a {
  text-decoration: none; }

.ta-c {
  text-align: center; }

/* font size */
.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-32 {
  font-size: 32px; }

.fz-36 {
  font-size: 36px; }

.fz-42 {
  font-size: 42px; }

.fz-48 {
  font-size: 48px; }

.fz-64 {
  font-size: 64px; }

/* font end */
/* font weight */
.fw-r {
  font-weight: 400; }

.fw-m {
  font-weight: 500; }

.fw-b {
  font-weight: 700; }

.fw-bk {
  font-weight: 900; }

/* font weight end */
/* font style */
.fs-i {
  font-style: italic; }

/* fon style end */
/* color */
.txt-white {
  color: #fff; }

.txt-deepRed {
  color: #650300; }

.txt-red {
  color: #AA0601; }

.txt-black {
  color: #000; }

.txt-deepGray {
  color: #555555; }

.txt-gray {
  color: #707070; }

.op-70 {
  opacity: 70%; }

/* color end */
/* margin */
.mb-4 {
  margin-bottom: 4px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-72 {
  margin-bottom: 72px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-96 {
  margin-bottom: 96px; }

.mb-124 {
  margin-bottom: 124px; }

.mb-160 {
  margin-bottom: 160px; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-16 {
  margin-right: 16px; }

.mr-22 {
  margin-right: 22px; }

.mr-24 {
  margin-right: 24px; }

.mr-32 {
  margin-right: 32px; }

.mr-48 {
  margin-right: 48px; }

.mr-64 {
  margin-right: 64px; }

.ml-16 {
  margin-left: 16px; }

/* margin end */
.container {
  width: 67.5%;
  margin: 0 auto;
  padding: 0 12px; }

.nav-bg {
  background-color: #AA0601;
  padding: 16px 0; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo a {
  display: block;
  width: 80px;
  height: 48.5px;
  background: url(../images/logo-white.png);
  background-size: cover;
  background-position: center center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu a:hover {
    text-decoration: underline; }

.blog-nav-bg {
  background-color: #650300; }

.blog-nav-container {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog-nav a:hover {
  text-decoration: underline; }

.blog-search-bar {
  display: none; }

.blog-search-btn {
  background-color: #650300;
  border: none;
  vertical-align: middle; }

.pageNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .pageNav a:hover {
    background-color: #AA0601;
    color: #fff; }

.pageTurning {
  display: block;
  border: 1px solid #555555;
  padding: 12px 12px;
  color: #555555; }

.pageDirect {
  display: block;
  border: 1px solid #555555;
  padding: 12px 16px;
  color: #555555; }

.pageDirect-focus {
  background-color: #000;
  color: #fff; }

.footer-bg {
  background-color: #AA0601;
  padding: 48px 0 32px 0; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social img {
  width: 48px; }

.social a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%); }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid #fff; }

.footer-container a:hover {
  text-decoration: underline; }

@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 36px; }
  .blog-nav-container {
    width: 100%;
    padding: 0 42px 0 36px; }
  .footer-container {
    width: 100%;
    padding: 0 36px; } }

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 16px; }
  .nav-bg {
    padding: 0; }
  .nav-container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding: 0; }
  .logo {
    margin: 0 auto;
    padding: 16px 0; }
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .menu li {
      width: 50%;
      padding: 12px 62px;
      border: 1px solid #fff; }
    .menu a {
      margin: 0 auto;
      font-size: 14px; }
  .blog-nav-bg {
    display: none; }
  .pageNav {
    width: 100%;
    padding: 0 13px;
    font-size: 14px;
    margin-bottom: 64px; }
  .pageTurning {
    padding: 11px 13px 12px 14px; }
  .pageDirect {
    padding: 12px 15px 12px 16px; }
  .footer-bg {
    padding: 0; }
  .footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px 24px 16px; }
  .contact-item a {
    font-size: 16px; }
  .subMenu {
    display: none; }
  .social a {
    margin-right: 8px; }
  .social img {
    width: 24px; }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 24px; }
  .term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .term a {
      margin-bottom: 8px; }
  .copyright-content {
    margin-bottom: 16px; }
  /* footerEND*/ }

.header {
  height: 787px;
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center; }

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: right;
  padding-top: 296px; }
  .slogan a {
    display: block;
    background-color: #AA0601;
    padding: 6px 12px; }
  .slogan .slogan a:hover {
    background-color: #650300; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.intro-item {
  width: 23.6%; }

.intro-icon {
  width: 84px;
  height: 84px; }

.classicalSeries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.classicalSeries-item {
  width: 30%; }
  .classicalSeries-item a:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%); }

.co-brand-bg {
  /* height: 608px; */
  background-image: url(../images/index-bg.png);
  background-size: cover;
  padding: 80px 0; }

.co-brand {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .co-brand a {
    width: 50%; }
  .co-brand a:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%); }
  .co-brand a p {
    padding: 8px 0; }

.co-brand-item {
  background-color: #fff; }

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.recommend-item {
  width: 23.6%;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0 2px 6px #00000029;
          box-shadow: 0 2px 6px #00000029; }

.recommend-content {
  padding: 16px; }

.contact-container {
  width: 33.1%;
  margin: 0 auto; }

label {
  display: block; }

.contact-input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 0%;
  border: 1px solid #000; }

.contact-comfirm {
  display: block;
  width: 65.4%;
  margin: 0 auto;
  text-align: center;
  background-color: #AA0601;
  border: none;
  color: white;
  padding: 16px 0px;
  margin-bottom: 80px; }
  .contact-comfirm a:hover {
    background-color: #650300; }

@media (max-width: 992px) {
  .classicalSeries-item a {
    font-size: 28px; } }

@media (max-width: 767px) {
  .header {
    height: 400px;
    background-position: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-container {
    width: 100%; }
  .slogan {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 20px; }
    .slogan h3 {
      width: 100%;
      font-size: 24px; }
    .slogan h2 {
      font-size: 36px; }
  .intro-title {
    font-size: 36px;
    margin-bottom: 20px; }
  .intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px; }
  .intro-item {
    width: 100%;
    margin-bottom: 36px; }
  .classicalSeries-container {
    width: 100%; }
  .classical-title {
    font-size: 36px;
    margin-bottom: 20px; }
  .classicalSeries {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 48px; }
  .classicalSeries-item {
    width: 100%;
    margin: 0;
    margin-bottom: 48px; }
    .classicalSeries-item a {
      font-size: 32px; }
  .co-brand-bg {
    padding: 40px 0; }
  .co-brand-container {
    width: 100%; }
  .co-brand-title {
    font-size: 36px;
    margin-bottom: 20px; }
  .co-brand {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .co-brand a p {
      font-size: 32px; }
  .co-brand-item {
    margin-bottom: 24px; }
  .recommend-container {
    width: 100%; }
  .recommend-title {
    font-size: 36px;
    margin-bottom: 20px; }
  .recommend {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%; }
  .recommend-item {
    width: 100%;
    margin: 0 0 24px 0; }
  .contact-container {
    width: 75%; }
  .contact-tilte {
    font-size: 36px;
    margin-bottom: 20px; }
  .contact-comfirm {
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 48px; } }

.category-container {
  width: 67.5%;
  margin: 0 auto;
  padding: 0 12px; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.category-item-focus {
  border-bottom: 8px solid #AA0601; }

.category-item {
  width: 33.3%;
  padding: 16px 0;
  border: 1px solid #DCDCDC; }

.category-item:hover {
  border-bottom: 8px solid #AA0601; }

.optical-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 296px; }

.optical-banner-img-1 {
  width: 50%;
  background-image: url(../images/product-header-1.png);
  background-size: cover;
  background-position: center; }

.optical-banner-img-2 {
  width: 50%;
  background-image: url(../images/product-header-2.png);
  background-size: cover;
  background-position: center; }

.optical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.optical-item {
  width: 22%; }
  .optical-item a:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%); }

.optical-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.optical-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.optical-color-1 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px; }

.optical-color-2 {
  display: inline-block;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px; }

@media (max-width: 992px) {
  .category-container {
    width: 100%; }
  .category-item {
    width: 33.3%;
    padding: 16px 0; }
  .category-item a {
    font-size: 24px;
    font-weight: 700; }
  .optical-banner {
    margin-bottom: 80px; }
  .optical-banner-img-1 {
    background-image: url(../images/product-header-sm-3.png); }
  .optical-banner-img-2 {
    width: 50%;
    background-image: url(../images/product-header-sm-4.png);
    background-size: cover;
    background-position: center; }
  .optical-container {
    width: 100%; }
    .optical-container h2 {
      font-size: 42px; }
    .optical-container h3 {
      font-size: 32px;
      margin-bottom: 32px; }
  .optical {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 0 36px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .optical-item {
    width: 43.8%;
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 24px; }
  .optical-item-mr {
    margin-right: 24px; } }

@media (max-width: 767px) {
  .category-container {
    margin-bottom: 0px; }
  .category {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .category-item a {
    font-size: 16px;
    font-weight: 700; }
  .optical-banner {
    height: 136px;
    margin-bottom: 40px; }
  .optical-banner-img-1 {
    background-image: url(../images/product-header-sm-1.png); }
  .optical-banner-img-2 {
    width: 50%;
    background-image: url(../images/product-header-sm-2.png);
    background-size: cover;
    background-position: center; }
  .optical-container {
    width: 100%;
    padding: 0 13px; }
    .optical-container h2 {
      font-size: 24px; }
    .optical-container h3 {
      font-size: 24px; }
  .optical {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px; }
  .optical-item {
    width: 100%;
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 24px; } }

.category-container {
  width: 67.5%;
  margin: 0 auto;
  padding: 0 12px; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.category-item-focus {
  border-bottom: 8px solid #AA0601; }

.category-item {
  width: 33.3%;
  padding: 16px 0; }

.category-item:hover {
  border-bottom: 8px solid #AA0601; }

/* 太陽眼鏡BN */
.sunglasses-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 296px; }

.sunglasses-banner-img-1 {
  width: 50%;
  background-image: url(../images/product-header-3.png);
  background-size: cover;
  background-position: center; }

.sunglasses-banner-img-2 {
  width: 50%;
  background-image: url(../images/product-header-4.png);
  background-size: cover;
  background-position: center; }

/* 太陽眼鏡BN END*/
/* 商品目錄 */
.newCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.newCollection-item {
  width: 30%; }

.newCollection-item a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%); }

.newCollection-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sunglasses-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.sunglasses-color-1 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px; }

.sunglasses-color-2 {
  display: inline-block;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px; }

/* 商品目錄END */
@media (max-width: 992px) {
  .category-container {
    width: 100%; }
  .category-item {
    width: 33.3%;
    padding: 16px 0; }
  .category-item a {
    font-size: 24px;
    font-weight: 700; }
  /* 太陽眼鏡BN */
  .sunglasses-banner {
    margin-bottom: 80px; }
  .sunglasses-banner-img-1 {
    background-image: url(../images/product-header-sm-3.png); }
  .sunglasses-banner-img-2 {
    width: 50%;
    background-image: url(../images/product-header-sm-4.png);
    background-size: cover;
    background-position: center; }
  /* 太陽眼鏡BN END */
  /* 商品目錄 */
  .newCollection-container {
    width: 100%; }
  .newCollection-container h2 {
    font-size: 42px; }
  .newCollection-container h3 {
    font-size: 32px;
    margin-bottom: 32px; }
  .newCollection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
    padding: 0 36px; }
  .newCollection-item {
    width: 43.2%;
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 24px; }
  .newCollection-item-mr {
    margin-right: 24px; }
  /* 商品目錄END */ }

@media (max-width: 767px) {
  .category-container {
    margin-bottom: 0px; }
  .category {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .category-item a {
    font-size: 16px;
    font-weight: 700; }
  /* 太陽眼鏡BN */
  .sunglasses-banner {
    height: 136px;
    margin-bottom: 40px; }
  .sunglasses-banner-img-1 {
    background-image: url(../images/product-header-sm-3.png); }
  .sunglasses-banner-img-2 {
    width: 50%;
    background-image: url(../images/product-header-sm-4.png);
    background-size: cover;
    background-position: center; }
  /* 太陽眼鏡BN ENd */
  /* 商品目錄 */
  .newCollection-container {
    width: 100%;
    padding: 0 13px; }
  .newCollection-container h2 {
    font-size: 24px; }
  .newCollection-container h3 {
    font-size: 24px; }
  .newCollection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px; }
  .newCollection-item {
    width: 100%;
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 24px; }
  /* 商品目錄END */ }

.location-title {
  margin-top: 96px; }

.location-title::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-color: #9F1213;
  width: 8px;
  height: 48px;
  margin-right: 16px; }

.locations-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 41px; }

.locations-dropDown {
  width: 23.4%;
  font-size: 18px;
  line-height: 1.44;
  color: #495057;
  opacity: 75%;
  border: 1px solid #CED4DA;
  border-radius: 0%;
  padding: 6px 12px; }

.locations {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px; }

.locations-item {
  width: 30%;
  margin-bottom: 48px; }

.locations-item-title {
  padding: 8px 24px;
  border: 1px solid #00000020; }

.locations-item-content {
  padding: 16px 24px;
  border: 1px solid #00000020; }

.material-symbols-outlined {
  margin-right: 11px; }

.locations-btn {
  display: block;
  font-size: 19px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #00000020;
  padding: 16px 0; }

.locations-btn:hover {
  background-color: #AA0601; }

@media (max-width: 992px) {
  .location-container {
    width: 100%;
    padding: 0 36px 0 35px;
    margin-bottom: 80px; }
  .locations-dropDown {
    width: 30.6%; }
  .locations {
    margin: 0 auto;
    margin-bottom: 24px; }
  .locations-item {
    width: 48%;
    margin-right: 0; }
  .locations-item-r {
    margin-right: 24px; } }

@media (max-width: 767px) {
  .location-container {
    width: 100%;
    padding: 0 14px 0 13px; }
  .location-title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px; }
  .location-title::before {
    height: 36px; }
  .locations-select h3 {
    font-size: 16px; }
  .locations-dropDown {
    width: 73.6%; }
  .locations {
    margin-bottom: 64px; }
  .locations-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px; } }

.stores-title {
  margin-top: 96px; }

.stores-title::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-color: #9F1213;
  width: 8px;
  height: 48px;
  margin-right: 16px; }

.stores-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 41px; }

.stores-dropDown {
  width: 23.4%;
  font-size: 18px;
  line-height: 1.44;
  color: #495057;
  opacity: 75%;
  border: 1px solid #CED4DA;
  border-radius: 0%;
  padding: 6px 12px; }

.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }

.stores-item {
  width: 40.6%;
  margin-bottom: 48px; }

.stores-item-title {
  padding: 8px 24px;
  border: 1px solid #00000020; }

.stores-item-content {
  padding: 16px 24px;
  border: 1px solid #00000020; }

.material-symbols-outlined {
  margin-right: 11px; }

.stores-map {
  width: 57.6%;
  max-height: 100%;
  background-image: url(../images/map_demo.png);
  background-size: cover;
  background-position: center center; }

@media (max-width: 992px) {
  .stores-container {
    width: 100%;
    padding: 0 36px 0 35px;
    margin-bottom: 80px; }
  .stores-title {
    margin-top: 80px; }
  .stores {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .stores-dropDown {
    width: 30.6%; }
  .stores {
    margin: 0 auto;
    margin-bottom: 24px; }
  .stores-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    margin-bottom: 24px; }
    .stores-item img {
      width: 43.9%;
      margin-right: 24px; }
  .stores-item-txt {
    width: 43.9%; }
  .stores-map {
    width: 100%;
    height: 414px; } }

@media (max-width: 767px) {
  .stores-container {
    width: 100%;
    padding: 0 14px 0 13px; }
  .stores-title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px; }
  .stores-title::before {
    height: 36px; }
  .stores-select h3 {
    font-size: 16px; }
  .stores-dropDown {
    width: 73.6%; }
  .stores {
    margin-bottom: 64px; }
  .stores-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px; }
    .stores-item img {
      width: 100%; }
  .stores-item-txt {
    width: 100%; } }

.faq-title {
  margin-top: 96px; }

.faq-title::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-color: #9F1213;
  width: 8px;
  height: 48px;
  margin-right: 16px; }

@media (max-width: 992px) {
  .faq-container {
    width: 100%;
    padding: 0 36px;
    margin-bottom: 80px; }
  .faq-title {
    margin-top: 80px; } }

@media (max-width: 767px) {
  .faq-container {
    width: 100%;
    padding: 0 14px 0 13px; }
  .faq-title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px; }
  .faq-title::before {
    height: 36px; }
  .faq {
    margin-bottom: 64px; }
  .faq-item {
    margin-right: 0;
    margin-bottom: 24px; } }

.blog-title {
  margin-top: 96px; }

.blog-title::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  background-color: #9F1213;
  width: 8px;
  height: 48px;
  margin-right: 16px; }

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.blog-img {
  width: 50%;
  height: 400px;
  background-size: cover;
  background-position: center center; }

.blog-img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9); }

.blog-img-link {
  display: block;
  width: 100%;
  height: 100%; }

.blog-content {
  width: 50%; }

.blog-tablet-txt {
  display: none; }

.blog-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blog-btn {
  position: absolute;
  right: 0;
  bottom: 0; }

.blog-item a:hover {
  text-decoration: underline; }

.blog-content h2 a:hover {
  text-decoration: none;
  font-weight: 700; }

@media (max-width: 992px) {
  /* 部落格 */
  .blog-container {
    width: 100%;
    padding: 0 36px;
    margin-bottom: 80px; }
  .blog-title {
    margin-top: 80px; }
  .blog-item a:hover {
    text-decoration: none; }
  .blog-img {
    width: 50%;
    height: 208px; }
  .blog-content h2 {
    font-size: 24px; }
  .blog-tag {
    margin-bottom: 4px; }
  .blog-tag h3 {
    font-size: 16px; }
  .blog-tag p {
    font-size: 16px; }
  .blog-pc-txt {
    display: none; }
  .blog-tablet-txt {
    display: block; }
  .blog-btn {
    display: none; }
  /* 部落格END */ }

@media (max-width: 767px) {
  /* 部落格 */
  .blog-title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px; }
  .blog-title::before {
    height: 36px; }
  .blog {
    margin-bottom: 64px; }
  .blog-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 24px; }
  .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px; }
  .blog-content {
    width: 100%; }
  .blog-tablet-txt {
    display: none; }
  /* 部落格END */ }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px; }

.breadcrumb a:hover {
  text-decoration: underline; }

.breadcrumb-divider::after {
  display: inline-block;
  content: "/";
  margin-left: 4px;
  text-decoration: none; }

.article-tag-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }

.article-tag-highlight a:hover {
  text-decoration: underline; }

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.article-content {
  border-bottom: 1px solid #707070; }

.article-tags-list a:hover {
  text-decoration: underline; }

.article-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.article-icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center center; }

.article-pageNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.article-pageNav-item a:hover {
  font-weight: 700;
  color: #AA0601; }

.article-tags {
  width: 32%; }

.article-tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.article-tags-title span {
  vertical-align: middle; }

@media (max-width: 992px) {
  .breadcrumb {
    margin-top: 8px; }
  .pageNav {
    display: none; } }

@media (max-width: 767px) {
  .article-tags {
    display: none; }
  .breadcrumb {
    margin-top: 16px; }
  .article h2 {
    font-size: 24px; }
  .article h3 {
    font-size: 16px; }
  .article-content {
    border: none; }
    .article-content li {
      margin-bottom: 16px; }
  .article-share {
    display: none; }
  .article-pageNav {
    display: none; } }

/*# sourceMappingURL=all.css.map */
